body {
    background: #111;
    color: #0f0;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 48px;
}

a, a:link{
    text-align: left;
    display: block;
    color: #0f0;
}

a:hover, a:active{
    color: white;
}


