body {
    background-color: black;
    color: white;
}

a {
    font-size: 24px;
    display: block;
    margin: 10px;
}

a:link {
   color: white; 
}

a:visited {
   color: white; 
}

a:hover {
   color: green; 
}
